.popup-size__wrapper {
  padding: 40px;
  padding-top: 20px;
  background: #fff;
  max-width: 810px;

  .popup-cross:hover svg path {
    stroke: #dba300;
  }
}

.popup-size {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-size.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 576px) {
  .popup-size.active {
    padding: 12px;
  }

  .popup-size__wrapper {
    padding: 20px;
  }
}
