.personal-form {
    $this: &;

    width: 440px;

    @media(max-width: 767px) {
        width: 100%;
    }

    > * {
        & + * {
            margin-top: 24px;
        }

        & + #{$this}__btn {
            margin-top: 32px;
        }
    }

    &__btn {
        width: 100%;

        &[type="submit"] {
            display: none;
        }
    }

    &__check {
      display: flex;
      align-items: center;
      margin-top: 16px;

      &.disabled {
        pointer-events: none;
      }
    }
}
