.one-click__popup {
    display: flex;
    justify-content: center;
    align-items: center;

  .popup-cross:hover svg path {
    stroke: #dba300;
  }
}

.one-click__popup.active {
    visibility: visible;
}

.one-click__popup-wrapper {
    padding: 40px;
    padding-top: 20px;
    background: #fff;
    max-width: 520px;
}

.popup-head {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-right: -20px;
}

.popup-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    text-transform: uppercase;
    color: $dark;
    margin-bottom: 20px;
    margin-top: -15px;
}

.popup-aftertitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: $gray-2;
    margin-bottom: 34px;
}

.popup-form {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
}

.popup-form label {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: $dark;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.popup-input {
    padding: 12px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: $dark;
    background: $gray;
    border-radius: $brs;
    margin-top: 8px;
    border: none;

}

.popup-input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: $dark;
}

.popup-form label:nth-child(4) {
    margin-bottom: 24px;
}

.checkbox-text a {
    color: $accent;
    text-decoration: underline;
}

.popup-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    padding: 14px;
    background: $dark;
}

.popup-btn:hover {
    background: #fce194;
    border: 1px solid #fce194;
    color: $dark;
}

.popup-cross {

    @media (max-width: 576px) {
        margin-right: 7px;
    }
}

@media (max-width: 576px) {
    .one-click__popup.active {
        padding: 12px;
    }

    .popup-title {
        font-size: 18px;
    }

    .popup-aftertitle {
        font-size: 14px;
    }

    .one-click__popup-wrapper {
        padding: 20px;
    }
}

.error {
    color: #F95E5E !important;
    margin-bottom: 0 !important;
}

.input-wrap.error {
  margin-bottom: 20px !important;
}

